{% extends 'base.html.twig' %}

{% block body %}
<section class="rounded-3 p-2 forum-section">
    <h2 class="section-title">Catégorie</h2>

    <article class="forum-row bg-default">
        <h3 class="forum-row-title">
            <a href="">forum</a>
        </h3>
        <p class="forum-description">description</p>
    </article>
</section>
{% endblock %}
