<footer class="mt-3">
    <nav class="rounded-3 bg-default mt-2 p-2" role="navigation" aria-label="Menu secondaire">
        <ul class="navigation-group">
            <li> 
                <a href="{{ path('home') }}">
                    <i class="bi bi-house-fill"></i>
                    Index du forum
                </a>
            </li>
        </ul>
    </nav>
    <p class="text-center">
        <small>
            <span>Photo by <a href="https://unsplash.com/@readysetfreddy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Freddy Castro</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span><br>
            © Céline Foucart
        </small>
    </p>
</footer>