<header class="rounded-3 bg-default p-3">
    <div class="banner position-relative">
        <h1><a href="{{ path('home') }}" class="text-reset stretched-link">{{ website_name() }}</a></h1>
    </div>
</header>