{% extends 'base.html.twig' %}

{% block title %}Recherche | {{ website_name() }} {% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item active" aria-current="page">Rechercher</li> 
{% endblock %}

{% block body %}
<section>
    <h2 class="h3 mb-3 font-weight-normal">Recherche dans le forum</h2>
    <div class="rounded-3 bg-default p-2">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary mt-2">Rechercher</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
