body {
    background-color: #F5F7FA;
}

.bg-default {
    background-color: #ECECEC;
}

a {
    text-decoration: none;
}

.main-wrap {
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #ECECEC;
    padding: 15px;
}

.author:hover {
    text-decoration: underline;
}

.profile-details::after {
    content: ' ';
    clear: both;
    display: block;
}

.profile-details .key, .profile-details .key-left {
    font-weight: normal;
    clear: left;
    float: left;
}

.profile-details .key {
    text-align: right;
    width: 150px;
}

.profile-details .value {
    float: left;
    padding-left: 5px;
}

.profile-details .key-left + .value {
    padding-right: 15px;
}

.user-avatar {
    width: 155px;
    padding: 0 5px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.forum-label {
    min-width: 300px;
}
