body {
    background-color: #F5F7FA;
}

.bg-default {
    background-color: #ECECEC;
}

a {
    text-decoration: none;
}

.main-wrap {
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #ECECEC;
    padding: 15px;
}
