.forum-section {
    background-color: #a370f7;
    margin-top: 10px;
}

.forum-section a:hover {
    text-decoration: underline;
}

.section-title {
    font-variant-caps: small-caps;
    color: #ECECEC;
    font-size: 1rem;
}

.section-title a {
    color: inherit;
}

.forum-row {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #B1C2A9;
    padding: 5px;
}

.forum-row-title {
    font-size: 1rem;
}

.forum-row > p {
    padding: 0;
    margin: 0;
    font-size: .9rem;
}

.profile-post {
    min-width: 250px;
    max-width: 250px;
    display: none;
}

.profil-post-info {
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
}

.pagination {
    justify-content: flex-end;
}

@media (min-width:768px) {
    .profile-post {
        display: block;
    }
}