<aside class=" editor-toolbar">
    <div class="btn-group">
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Mettre en gras"
            data-editor-left-param="[b]"
            data-editor-right-param="[/b]"
            data-action="editor#insert"><i class="bi bi-type-bold"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Mettre en italique"
            data-editor-left-param="[i]"
            data-editor-right-param="[/i]"
            data-action="editor#insert"><i class="bi bi-type-italic"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Souligner le texte"
            data-editor-left-param="[u]"
            data-editor-right-param="[/u]"
            data-action="editor#insert"><i class="bi bi-type-underline"></i></button>
    </div>
    <div class="btn-group">
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Justifier le texte"
            data-editor-left-param="[justify]"
            data-editor-right-param="[/justify]"
            data-action="editor#insert"><i class="bi bi-justify"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Centrer le texte"
            data-editor-left-param="[center]"
            data-editor-right-param="[/center]"
            data-action="editor#insert"><i class="bi bi-text-center"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Aligner le texte à droite"
            data-editor-left-param="[right]"
            data-editor-right-param="[/right]"
            data-action="editor#insert"><i class="bi bi-text-right"></i></button>
    </div>
    <div class="btn-group">
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer une liste non ordonnée"
            data-editor-left-param="[ul]"
            data-editor-right-param="[/ul]"
            data-action="editor#insert"><i class="bi bi-list-ul"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer une liste ordonnée"
            data-editor-left-param="[ol]"
            data-editor-right-param="[/ol]"
            data-action="editor#insert"><i class="bi bi-list-ol"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer un élément de liste"
            data-editor-left-param="[li]"
            data-editor-right-param="[/li]"
            data-action="editor#insert"><i class="bi bi-asterisk"></i></button>
    </div>
    <div class="btn-group">
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer un bloc de citation"
            data-editor-left-param="[quote]"
            data-editor-right-param="[/quote]"
            data-action="editor#insert"><i class="bi bi-chat-left-quote"></i></button>
        <button 
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer un bloc spoiler"
            data-editor-left-param="[spoiler]"
            data-editor-right-param="[/spoiler]"
            data-action="editor#insert"><i class="bi bi-eye-slash-fill"></i></button>
        <button 
            class="btn btn-secondary" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top"
            title="Insérer un lien"
            data-editor-left-param="[url]"
            data-editor-right-param="[/url]"
            data-action="editor#insert"><i class="bi bi-link-45deg"></i></button>
    </div>
</aside>