{% extends 'base.html.twig' %}

{% block title %} Erreur 404 {% endblock %}

{% block body %}
    <section class="rounded-3 bg-default p-2">
        <h2 class="h4 text-center text-danger">Erreur 404</h2>
        <p class="text-center mt-3">
            La page que vous souhaitez consulter n'existe pas. 
            Vérifiez qu'il n'y a pas eu une erreur dans l'URL.
        </p>
    </section>
{% endblock %}